.game--cards {
	display: flex;
	gap: var(--cards-gap);
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--main-margin);
}

.game {
	min-height: 100lvh;
	display: grid;
	align-items: start;

	background-image: url('../assets/images/static/background.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;

	.game--information {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: var(--main-margin);

		.game-score {
			display: flex;
			column-gap: var(--main-gap);
			padding-top: var(--main-padding);
		}
	}
}

.game-card {
	min-width: calc(var(--image-padding) + var(--image-size));
	min-height: calc(
		var(--image-padding) + var(--image-size) + var(--card-inside-gap) +
			var(--card-font-size)
	);

	position: relative;
	perspective: 2000px;

	.game-card-front {
		padding: var(--image-padding);
		display: flex;
		flex-direction: column;
		row-gap: var(--card-inside-gap);
		align-items: center;
		background-color: rgba(0, 0, 0, 0.685);
		border-radius: var(--border-radius-card);
		border: 1px solid black;

		img {
			border-radius: var(--border-radius-card);
		}

		p {
			color: white;
			font-size: var(--card-font-size);
			height: var(--card-font-size);
			overflow: hidden;

			@include desktop {
				--card-font-size: 18px;
			}

			@include mobile {
				--card-font-size: 16px;
			}
		}
	}

	@include desktop {
		--image-size: 200px;
		--image-padding: 15px;
	}

	@include mobile {
		--image-size: 160px;
		--image-padding: 8px;
	}
}

.game-card-back {
	min-width: calc(var(--image-padding) + var(--image-size));

	height: calc(
		var(--image-padding) + var(--image-size) + var(--card-inside-gap) +
			var(--card-font-size)
	);

	img {
		border-radius: var(--border-radius-card);

		height: 100%;
		width: 100%;
	}
}

.flip-in-front {
	transform: rotateY(180deg);
	transition: transform var(--turn-duration);
}

.flip-out-front {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.flip-out-back {
	transform: rotateY(-180deg);
	transition: transform var(--turn-duration);
}

.flip-in-back {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.game-card-front,
.game-card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.game-card-front {
	z-index: 1;
}
