.game--cards {
	display: flex;
	gap: var(--cards-gap);
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--main-margin);
}

.game {
	min-height: 100vh;
	display: grid;
	padding-inline: var(--main-padding);

	.game--information {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: var(--main-margin);

		.game-score {
			display: flex;
			column-gap: var(--main-gap);
			padding-top: var(--main-padding);
		}
	}
}

.game-card {
	min-width: calc(var(--image-padding) + var(--image-size));
	min-height: calc(
		var(--image-padding) + var(--image-size) + var(--card-inside-gap) +
			var(--card-font-size)
	);

	position: relative;
	perspective: 1000px;

	.game-card-front {
		padding: var(--image-padding);
		display: flex;
		flex-direction: column;
		row-gap: var(--card-inside-gap);
		align-items: center;
		background-color: rgba(0, 0, 0, 0.685);
		border-radius: var(--border-radius-card);
		border: 1px solid black;

		img {
			border-radius: var(--border-radius-card);
		}

		p {
			color: white;
			font-size: var(--card-font-size);
			height: var(--card-font-size);
		}
	}
}

.game-card-back {
	min-width: calc(var(--image-padding) + var(--image-size));
	min-height: calc(
		var(--image-padding) + var(--image-size) + var(--card-inside-gap) +
			var(--card-font-size)
	);

	img {
		border-radius: var(--border-radius-card);
		min-height: calc(
			var(--image-padding) + var(--image-size) + var(--card-inside-gap) +
				var(--card-font-size)
		);
	}
}

.flip-in-front {
	transform: rotateY(180deg);
	transition: transform var(--turn-duration);
}

.flip-out-front {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.flip-out-back {
	transform: rotateY(-180deg);
	transition: transform var(--turn-duration);
}

.flip-in-back {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.game-card-front,
.game-card-back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
}

.game-card-front {
	z-index: 1;
}
