.game {
	max-height: 100vh;
	height: 100vh;
	display: grid;
	grid-template-rows: 10% 1fr;

	.game--information {
		display: flex;
		flex-direction: column;
		align-items: center;

		.game-score {
			display: flex;
			column-gap: var(--main-gap);
			padding-top: var(--main-padding);
		}
	}
}

.game-card {
	background-color: rgba(0, 0, 0, 0.623);
	border: 1px solid black;
	border-radius: var(--border-radius-card);
	min-width: calc(var(--image-padding) + var(--image-size));
	min-height: calc(
		var(--image-padding) + var(--image-size) + var(--card-inside-gap) + 24px
	);

	position: relative;
	perspective: 1000px;

	.game-card-front {
		padding: var(--image-padding);
		display: flex;
		flex-direction: column;
		row-gap: var(--card-inside-gap);
		align-items: center;

		img {
			border-radius: var(--border-radius-card);
		}

		p {
			color: white;
			font-size: 24px;
		}
	}
}

// поменять
.game--cards {
	display: flex;
	gap: var(--main-gap);
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.flip-in-front {
	transform: rotateY(180deg);
	transition: transform var(--turn-duration);
}

.flip-out-front {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.flip-out-back {
	transform: rotateY(-180deg);
	transition: transform var(--turn-duration);
}

.flip-in-back {
	transform: rotateY(0);
	transition: transform var(--turn-duration);
}

.game-card-front,
.game-card-back {
	position: absolute;
	top: 0;
	left: 0;

	backface-visibility: hidden;
}

.game-card-front {
	z-index: 1;
}
