.loading {
	display: grid;
	grid-template-rows: 10% 4fr 1fr 6fr;
	max-height: 100vh;
	height: 100vh;

	row-gap: var(--main-gap);
	padding: var(--main-padding);

	div {
		display: flex;
	}

	h1 {
		justify-self: center;
		align-self: self-end;

		@include mobile {
			@include fluid-text(36, 32);
		}

		@include mobile-s {
			@include fluid-text(32, 28);
		}
	}

	> :first-child {
		justify-content: flex-end;
	}

	> :last-child {
		justify-content: center;
	}
}

.progress-bar {
	flex-direction: column;
	justify-self: center;
	align-self: self-start;

	progress {
		width: var(--progress-bar-width);
		height: 20px;
		border: none;
		appearance: none;
		background-color: var(--progress-bar-background);
		border-radius: var(--border-radius-progress);
		overflow: hidden;

		&::-webkit-progress-bar {
			background: var(--progress-bar-background);
			border-radius: var(--border-radius-progress);
		}

		&::-webkit-progress-value {
			background: var(--progress-bar-value);
			border-radius: var(--border-radius-progress);
		}

		&::-moz-progress-bar {
			background: var(--progress-bar-value);
			border-radius: var(--border-radius-progress);
		}
	}

	img {
		width: var(--animation-character-width);
	}
}
