.gameContainer {
	max-height: 100vh;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.gameContainer-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: var(--buttons-gap);
	}
}

.difficult {
	display: flex;
	column-gap: var(--buttons-gap);

	button {
		min-width: 100px;
		aspect-ratio: 2/1;
		@include fluid-text(36, 32);
		border: none;
		background-color: transparent;
		color: #8b2323;

		@include hover {
			transform: scale(1.1);
		}
	}
}
