:root {
	--number-of-images: 80;
	--animation-character-width: 50px;
	--progress-bar-width: calc(
		var(--animation-character-width) + (var(--number-of-images) * 2 * 1px)
	);
	--container-width: 100vw;
	--main-padding: 20px;
	--main-gap: 50px;
	--border-radius-progress: 15px;

	--transition-duration: 0.2s;
	--turn-duration: 1.5s;

	--main-font-color: #0b0a0a;
	--main-bgrd-color: #c78d68;
	--progress-bar-background: #c5151593;
	--progress-bar-value: #15eb43e1;
}
